@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: azure;
}

.name h3 {
  font-size: 25px;
  font-weight: 600;
  color: #007fff;
  margin-bottom: 40px;
}
.win-msg {
  font-size: 18px;
  font-weight: 420;
  color: #007fff;
  margin-bottom: 25px;
  padding: 8px 70px;
  display: none;
}
.container {
  height: 370px;
  width: 300px;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.box {
  color: #007fff;
  border: 0;
  font-size: 35px;
  font-weight: 400;
  font-family: sans-serif;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
}
.box:active {
  scale: 0.94;
}
.button {
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 500;
  margin: 0px 24px;
  color: #fff;
  border: 0;
  border-radius: 1.5rem;
  background-color: #007fff;
  transition: all 0.2s ease-in;
}
.button:active {
  scale: 0.94;
}
#new-btn:disabled {
  opacity: 0.6;
  pointer-events: none;
}
